<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
      [initialValue]="initialValue"
      (onValue)="searchByCountry($event)"
      (onDebounce)="searchByCountry($event)"
    placeholder="Buscar por Pais">
  </shared-search-box>

  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <!-- tabla de resultados -->
    <shared-loading-spinner
    *ngIf="isLoading"
    [zona]="countriesText">
    </shared-loading-spinner>
    <countries-table
    [countries]="countries"
    [zona]="countriesText"
    ></countries-table>
  </div>
</div>
